<form class="" action="index.html" method="post">

<a href="/designer"><button type="button" name="button">Design A Survey!</button></a>

<a href="/taker"><button type="button" name="button">Take A Survey!</button></a>
</form>
